body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.left{
  float:left;
}
.img-circle {
    border-radius: 50%;
   width: 50%;
}
.col-12{
  width: 100%;
  clear: both;
}

.col-6{
  width:50%;
}